<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top" />
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink="/members/{{member.username}}" class="btn btn-sm btn-primary"><i class="fa fa-user"></i></button></li>
            <li class="list-inline-item"><button (click)="addLike(member)" class="btn btn-sm btn-primary"><i class="fa fa-heart"></i></button></li>
            <li class="list-inline-item"><button routerLink="/members/{{member.username}}" [queryParams]="{tab: 3}" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i></button></li>
        </ul>
    </div>
    <div class="card-body p-1 d-flex flex-column align-items-center justify-content-center">
        <h6 class="card-title mb-1" style="font-weight: 600; ">
            {{member.knownAs}}, {{member.age}}
        </h6>
        <div class="card-text text-muted">{{member.city}}</div>
    </div>
</div>