.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}