.img.img-thumbnails {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}
.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}
.image-container .awaiting-approval {
    position: absolute;
    top: 20px;
    color: red;
    left: 20px;
    display: none;
}
.image-container.is-awaiting-approval img {
    opacity: .2;
}
.image-container.is-awaiting-approval .awaiting-approval {
    display: inline-block;
}